<div id="start-project">
  <div class="start-project-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="start-project-text">
            <h3>Start to build your <span>awesome</span> websites</h3>
            <p>Create lovely & smart websites faster! Get Avurn now!</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="start-project-btn">
            <button class="btn">start project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>