<div id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pricing-header">
          <h6>Latest and Best</h6>
          <h2>Our <span>Pricing</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="pricing-tabs">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Monthly">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Basic</h5>
                  <hr>
                  <h6 class="card-subtitle"><sup>$</sup>145.99</h6>
                  <ul>
                    <li><span>10 GB </span>Hosting</li>
                    <li>2 Unique Users</li>
                    <li><span>12 GB </span>Capacity</li>
                    <li>Weekly Backups</li>
                    <li><span>15 Domain </span>Names</li>
                    <li>Support <span>24/7</span></li>
                  </ul>
                  <div class="card-action">
                    <a href="#" class="card-link">Purchase Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Standard</h5>
                  <hr>
                  <h6 class="card-subtitle"><sup>$</sup>250.99</h6>
                  <ul>
                    <li><span>15 GB </span>Hosting</li>
                    <li>5 Unique Users</li>
                    <li><span>15 GB </span>Capacity</li>
                    <li>Weekly Backups</li>
                    <li><span>20 Domain </span>Names</li>
                    <li>Support <span>24/7</span></li>
                  </ul>
                  <div class="card-action">
                    <a href="#" class="card-link">Purchase Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Premium</h5>
                  <hr>
                  <h6 class="card-subtitle"><sup>$</sup>325.99</h6>
                  <ul>
                    <li><span>20 GB </span>Hosting</li>
                    <li>7 Unique Users</li>
                    <li><span>20 GB </span>Capacity</li>
                    <li>Weekly Backups</li>
                    <li><span>25 Domain </span>Names</li>
                    <li>Support <span>24/7</span></li>
                  </ul>
                  <div class="card-action">
                    <a href="#" class="card-link">Purchase Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Yearly">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Basic</h5>
                  <hr>
                  <h6 class="card-subtitle"><sup>$</sup>245.99</h6>
                  <ul>
                    <li><span>10 GB </span>Hosting</li>
                    <li>2 Unique Users</li>
                    <li><span>12 GB </span>Capacity</li>
                    <li>Weekly Backups</li>
                    <li><span>15 Domain </span>Names</li>
                    <li>Support <span>24/7</span></li>
                  </ul>
                  <div class="card-action">
                    <a href="#" class="card-link">Purchase Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Standard</h5>
                  <hr>
                  <h6 class="card-subtitle"><sup>$</sup>350.99</h6>
                  <ul>
                    <li><span>15 GB </span>Hosting</li>
                    <li>5 Unique Users</li>
                    <li><span>15 GB </span>Capacity</li>
                    <li>Weekly Backups</li>
                    <li><span>20 Domain </span>Names</li>
                    <li>Support <span>24/7</span></li>
                  </ul>
                  <div class="card-action">
                    <a href="#" class="card-link">Purchase Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Premium</h5>
                  <hr>
                  <h6 class="card-subtitle"><sup>$</sup>525.99</h6>
                  <ul>
                    <li><span>20 GB </span>Hosting</li>
                    <li>7 Unique Users</li>
                    <li><span>20 GB </span>Capacity</li>
                    <li>Weekly Backups</li>
                    <li><span>25 Domain </span>Names</li>
                    <li>Support <span>24/7</span></li>
                  </ul>
                  <div class="card-action">
                    <a href="#" class="card-link">Purchase Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>