<div id="skills" data-aos="fade-up">
  <div class="row">
    <div class="col-sm-12 col-md-6 p-0">
      <div class="skills-content">
        <div class="container">
          <h6>We Are Awesome</h6>
          <h2>Some Of Our <span>Skills</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <div class="progress-bar-header">
            <h3>Branding</h3>
            <span>{{progress1}}%</span>
          </div>
          <mat-progress-bar mode="determinate" [value]="progress1"></mat-progress-bar>
          <div class="progress-bar-header">
            <h3>Marketing</h3>
            <span>{{progress2}}%</span>
          </div>
          <mat-progress-bar mode="determinate" [value]="progress2"></mat-progress-bar>
          <div class="progress-bar-header">
            <h3>Design</h3>
            <span>{{progress1}}%</span>
          </div>
          <mat-progress-bar mode="determinate" [value]="progress1"></mat-progress-bar>
          <div class="progress-bar-header">
            <h3>Development</h3>
            <span>{{progress3}}%</span>
          </div>
          <mat-progress-bar mode="determinate" [value]="progress3"></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 p-0">
      <div class="skills-img">
        <img src="../../../assets/images/skill-bg.766e2c4066050fb1.jpg">
      </div>
    </div>
  </div>
</div>