<div id="home">
  <div class="home-header">
    <div class="home-bg">
      <!-- <app-header></app-header> -->
      <div class="container">
        <div class="home-content">
          <div class="home-text">
            <h6>We Are Creative</h6>
            <h1>The Best <span>Digital</span> Experience</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.</p>
          </div>
          <div class="home-actions">
            <button class="btn">
              get started
            </button>
            <span>or</span>
            <div class="video" (click)="openVideoDialog()">
              <a>
                <i class="fa fa-play"></i>
                watch video
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="shapes">
      <div class="shape_1">
        <img src="../../../assets/images/1.png">
      </div>
      <div class="shape_2">
        <img src="../../../assets/images/2.png">
      </div>
      <div class="shape_3">
        <img src="../../../assets/images/3.png">
      </div>
      <div class="shape_4">
        <img src="../../../assets/images/4.png">
      </div>
    </div>


  </div>
  <app-features></app-features>
</div>