#home {
    overflow: hidden;
    .home-header {
        background-image: url(../../../../../assets/images/main-banner1.a65d0c08d4dfcb72.jpg);
        background-size: cover;
        background-position-y: center;
        width: 100%;
        position: relative;
        left: 0;
        height: 100vh;

        .home-bg {
            height: 100vh;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;

            .home-content {
                height: calc(100vh - 140px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 60px auto;

                .home-text {
                    text-align: center;
                    h6 {
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        color: #c4c4c5;
                    }
                    h1 {
                        color: var(--white-color);
                        font-weight: 100;
                        font-size: 3.5rem;
                        span {
                            font-weight: bold;
                            background: linear-gradient(to bottom, transparent 80%, var(--blue-color) 10%);
                        }
                    }

                    p {
                        color: #c4c4c5;
                        font-size: 17px;
                        width: 40%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 2rem;
                    }
                }

                .home-actions {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                    margin: 30px 0 0;

                    button {
                        background: var(--blue-color);
                        color: var(--white-color);
                        padding: 15px 25px;
                        font-weight: 500;
                        text-transform: capitalize;
                        &:hover {
                            background: var(--black-color);
                            transition: 0.5s;
                        }
                    }
                    span {
                        color: var(--white-color);
                        text-transform: uppercase;
                        font-weight: bold;
                        margin: 0 10px;
                    }
                    a {
                        text-transform: capitalize;
                        color: var(--white-color);
                        font-weight: bold;
                        cursor: pointer;
                        i {
                            background: var(--white-color);
                            margin-right: 5px;
                            border-radius: 50%;
                            padding: 17px 20px;
                            color: var(--blue-color);
                            font-size: 18px;
                        }
                        &:hover {
                            i {
                                background: var(--blue-color);
                                color: var(--white-color);
                                transition: 0.5s;
                            }
                        }
                    }

                    .video {
                        display: flex;
                        align-items: baseline;
                    }
                }
            }
        }

        @keyframes bounce {
            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(-10px);
            }
        }
        @-webkit-keyframes bounce {
            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(-10px);
            }
        }
        @keyframes rotate {
            0% {
                transform: rotate(360deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
        @-webkit-keyframes rotate {
            0% {
                -webkit-transform: rotate(360deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
            }
        }

        .shape_1 {
            position: absolute;
            left: 70px;
            bottom: 70px;
            animation: bounce 1s infinite alternate;
            -webkit-animation: bounce 1s infinite alternate;
            opacity: 0.6;
        }

        .shape_2 {
            position: absolute;
            right: 70px;
            bottom: 70px;
            animation: rotate 40s linear 0s infinite reverse;
            -webkit-animation: rotate 40s linear 0s infinite reverse;
            opacity: 0.6;
        }

        .shape_3 {
            position: absolute;
            left: 70px;
            top: 70px;
            animation: rotate 40s linear 0s infinite reverse;
            -webkit-animation: rotate 40s linear 0s infinite reverse;
            opacity: 0.6;
        }
        .shape_4 {
            position: absolute;
            right: 70px;
            top: 70px;
            animation: bounce 2s infinite alternate;
            -webkit-animation: bounce 2s infinite alternate;
            opacity: 0.6;
        }
    }

    @media only screen and (max-width: 767px) {
        .home-content {
            .home-text {
                h6 {
                    font-size: 15px !important;
                }
                h1 {
                    font-size: 30px !important;
                }
                p {
                    font-size: 15px !important;
                    width: 100% !important;
                }
            }
            .home-actions {
                flex-direction: column;
                align-items: center !important;
                span {
                    margin: 15px 0 10px !important;
                }
            }
        }
    }
}

#videoModal {
    .modal-dialog {
        .modal-content {
            background: transparent;
        }
    }
}
