<div class="comments">
  <h3>3 Comments</h3>
  <div class="comment-content">
    <div class="media">
      <div class="comment-img">
        <img class="align-self-center mr-3" src="../../../../assets/images/author1.jpg" alt="">
      </div>
      <div class="media-content">
        <div class="media-body">
          <h5 class="mt-0">John Smith</h5>
          <span>March 28, 2020 at 7:16 am</span>
        </div>
        <div class="reply">
          <button class="btn">Reply</button>
        </div>
      </div>
      <div>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long
      established fact that a reader will be distracted by the readable content of a page when looking at
      its layout.</p>
  </div>
  <div class="comment-content">
    <div class="media">
      <div class="comment-img">
        <img class="align-self-center mr-3" src="../../../../assets/images/author2.jpg" alt="">
      </div>
      <div class="media-content">
        <div class="media-body">
          <h5 class="mt-0">Steven Warner</h5>
          <span>March 28, 2020 at 7:16 am</span>
        </div>
        <div class="reply">
          <button class="btn">Reply</button>
        </div>
      </div>
      <div>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long
      established fact that a reader will be distracted by the readable content of a page when looking at
      its layout.</p>
  </div>
  <div class="comment-content">
    <div class="media">
      <div class="comment-img">
        <img class="align-self-center mr-3" src="../../../../assets/images/author3.jpg" alt="">
      </div>
      <div class="media-content">
        <div class="media-body">
          <h5 class="mt-0">John Smith</h5>
          <span>March 28, 2020 at 7:16 am</span>
        </div>
        <div class="reply">
          <button class="btn">Reply</button>
        </div>
      </div>
      <div>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long
      established fact that a reader will be distracted by the readable content of a page when looking at
      its layout.</p>
  </div>
</div>

<div class="comment-reply">
  <h3>Leave a Reply</h3>
  <form>
    <p>Your email address will not be published.</p>
    <p><textarea placeholder="Comment" rows="4" class="form-control"></textarea></p>
    <p><input type="text" class="form-control" placeholder="Name"></p>
    <p><input type="email" class="form-control" placeholder="Email"></p>
    <p><input type="text" class="form-control" placeholder="Website"></p>
    <button class="btn">Post Comment</button>
  </form>
</div>