<div id="contact">
  <div class="container">
    <div class="contact-header">
      <h6>Get In Touch</h6>
      <h2>Let's <span>Contact </span>Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>

    <div class="contact-body">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="contact-info">
            <ul>
              <li>
                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="media-body">
                    <span>Location:</span>
                    Exercisplan 4, 111 49 Stockholm, Sweden
                  </div>
                </div>


              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="media-body">
                    <span>Email:</span>
                    hello@avurn.com
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="media-body">
                    <span>Call:</span>
                    (+124) 412-2445515
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-fax"></i>
                  </div>
                  <div class="media-body">
                    <span>Fax:</span>
                    +617-241-60055
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-facebook-f"></i>
                  </div>
                  <div class="media-body">
                    <span>Facebook:</span>
                    facebook.com/avurn
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="contact-form">
            <form>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-6 col-sm-12">
                  <input type="email" class="form-control" placeholder="Email Address">
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="col-12">
                  <input type="number" class="form-control" placeholder="Phone Number">
                </div>
                <div class="col-12">
                  <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                </div>
                <div class="col-12">
                  <button class="btn">Send Message</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>