#creative-solutions {
    background: #f6f4f7;
    padding: 65px 0;
    margin-top: 65px;
    img {
        width: 100%;
    }

    .creative-solutions-header {
        text-align: center;
        h6 {
            color: var(--pink-color);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.85rem;
            letter-spacing: 1px;
        }
        h2 {
            text-transform: capitalize;
            font-weight: 400;
            span {
                background: linear-gradient(to bottom, transparent 80%, var(--pink-color) 10%);
                font-weight: bold;
            }
        }
        p {
            color: #828893;
            font-size: 17px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .creative-solutions-content {
        h5 {
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            color: #828893;
        }
        ul {
            list-style: none;
            text-align: left;
            padding: 0;
            li {
                position: relative;
                display: inline-block;
                width: 50%;
                margin-bottom: 10px;
                &::before {
                    font-family: FontAwesome;
                    content: "\f0c8";
                    color: var(--pink-color);
                    position: absolute;
                    transform: rotate(45deg);
                    font-size: 10px;
                    left: 4px;
                    top: 4px;
                }
                span {
                    margin-left: 20px;
                    color: #828893;
                    font-weight: 500;
                }
            }
        }
        button {
            background: var(--pink-color);
            color: var(--white-color);
            border: none;
            text-transform: capitalize;
            padding: 10px 20px;
            font-weight: 600;
            &:hover {
                background: var(--black-color);
                transition: 0.5s;
            }
        }
    }

    ::ng-deep {
        .mat-tab-body-wrapper {
            .mat-tab-body:nth-child(even) {
                .mat-tab-body-content {
                    > .row {
                        display: flex;
                        flex-direction: row-reverse;
                    }
                }
            }
        }
        .mat-tab-header {
            margin: 30px 0;
            border-bottom: none;
        }
        .mat-tab-body {
            .mat-tab-body-content {
                overflow: hidden;
            }
        }
        .mat-tab-label-active {
            .mat-tab-label-content {
                background: var(--pink-color);
                color: var(--white-color);
            }
            &::before {
                content: none;
            }
        }
        .mat-tab-label {
            opacity: 1 !important;
            min-width: 80px !important;
            padding: 0 10px;
        }
        .mat-tab-label-content {
            color: #565555;
            font-weight: 500;
            font-size: 15px;
            padding: 15px 25px;
            border-radius: 10px;
            &::after {
                content: none;
            }
            &:hover {
                background: var(--pink-color);
                color: var(--white-color);
                transition: 0.5s;
            }
        }
        .mat-tab-labels {
            .mat-tab-label:last-child {
                .mat-tab-label-content {
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .mat-tab-group.mat-primary .mat-ink-bar,
        .mat-tab-nav-bar.mat-primary .mat-ink-bar {
            display: none;
        }
    }

    @media only screen and (max-width: 767px) {
        .creative-solutions-header {
            p {
                font-size: 15px;
                width: 100%;
            }
        }

        .creative-solutions-content {
            h5 {
                font-size: 1.1rem;
            }
            p {
                font-size: 15px;
            }
            ul {
                li {
                    width: 100%;
                    span {
                        font-size: 15px;
                    }
                }
            }
            button {
                margin-bottom: 1rem;
            }
            ::ng-deep {
                .mat-tab-label-content {
                    font-weight: 500;
                    font-size: 13px;
                    padding: 15px 13px;
                }
            }
        }
    }
}
