<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-6">
            <div class="about-img">
              <img src="../../assets/images/about-img1.jpg" style="border-top-left-radius: 30px;">
            </div>
          </div>
          <div class="col-6">
            <div class="about-img">
              <img src="../../assets/images/about-img2.jpg" style="border-top-right-radius: 30px;">
            </div>
          </div>
          <div class="col-6">
            <div class="about-img">
              <img src="../../assets/images/about-img3.jpg" style="border-bottom-left-radius: 30px;">
            </div>
          </div>
          <div class="col-6">
            <div class="about-img">
              <img src="../../assets/images/about-img4.jpg" style="border-bottom-right-radius: 30px;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="about-text py-5">
          <h6>About Avurn</h6>
          <h2>We Are Digital <span>Marketing</span> & Branding</h2>
          <p>We provide marketing services to startups and small businesses to looking for a partner of their digital
            media, design & development, lead generation and communications requirents. We work with you, not for you.
            Although we have a great resources.</p>
          <ul>
            <li><span>Creative Design</span></li>
            <li><span>Modern Design</span></li>
            <li><span>Retina Ready</span></li>
            <li><span>Awesome Design</span></li>
            <li><span>Responsive Design</span></li>
          </ul>
          <p>We are an experienced and talented team of passionate consultants who live and breathe search engine
            marketing</p>
        </div>
      </div>
    </div>
  </div>
  <app-start-project></app-start-project>
</div>