<div id="smart-website">
  <div class="smart-website-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="smart-website-text">
            <h3>Create lovely & smart <span>websites</span> faster!</h3>
            <p>Start to build your awesome websites</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="smart-website-btn">
            <button class="btn">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>