<div id="who-we-are">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="who-text">
          <h6>who we are</h6>
          <h2>We stand out of the <span>Avurn</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <button class="btn">our work</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="who-content">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.</p>
          <ul>
            <li><span>We Are Professional</span></li>
            <li><span>We Are Creative</span></li>
            <li><span>We Are Unique</span></li>
            <li><span>We Are Passionate</span></li>
            <li><span>We Are Designer</span></li>
            <li><span>We Are Support</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>