#partners {
    background: #f6f4f7;
    padding: 65px 0;
    .partners-header {
        text-align: center;
        margin-bottom: 50px;
        h6 {
            color: var(--blue-color);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.85rem;
            letter-spacing: 1px;
        }
        h2 {
            text-transform: capitalize;
            font-weight: 400;
            span {
                background: linear-gradient(to bottom, transparent 80%, var(--blue-color) 10%);
                font-weight: bold;
            }
        }
        p {
            color: #828893;
            font-size: 17px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .partners-slider {
        .item {
            background: var(--white-color);
            position: relative;
            padding: 25px 15px;
            z-index: 1;

            &:hover {
                .partner-img {
                    // background: linear-gradient(to right, var(--blue-color) 3px, transparent 3px) 0 0,
                    //     linear-gradient(to left, var(--blue-color) 3px, transparent 3px) 100% 100%,
                    //     linear-gradient(to bottom, var(--blue-color) 3px, transparent 3px) 0 0,
                    //     linear-gradient(to top, var(--blue-color) 3px, transparent 3px) 100% 100%;
                    // background-repeat: no-repeat;
                    // background-size: 40px 40px;
                    &:hover {
                        &::before,
                        &::after {
                            width: 40px;
                            height: 40px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        width: 0;
                        height: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5s;
                    }
                    &::before {
                        border-left: 3px solid var(--blue-color);
                        border-top: 3px solid var(--blue-color);
                        left: 0;
                        top: 0;
                    }
                    &::after {
                        border-right: 3px solid var(--blue-color);
                        border-bottom: 3px solid var(--blue-color);
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .partners-header {
            p {
                font-size: 15px;
                width: 100%;
            }
        }
    }
}
