<div id="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="features-text">
          <h6>Our Features</h6>
          <h2>We Always Try To Understand Users Expectation</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="features-item">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <h3>Creative Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="features-item">
          <mat-icon fontSet="fa" fontIcon="fa-upload"></mat-icon>
          <h3>Market Strategy</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="features-item">
          <mat-icon> pie_chart</mat-icon>
          <h3>Business Growth</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
        </div>
      </div>
    </div>
  </div>
</div>