<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="copyright">
          <p>
            <i class="fa fa-copyright"></i>
            2021 Avurn - Crafted with
            <i class="fa fa-heart"></i> by
            <a href="https://envytheme.com">EnvyTheme</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="social-media">
          <ul>
            <li>
              <a><i class="fa fa-facebook-f"></i></a>
            </li>
            <li>
              <a><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a><i class="fa fa-pinterest-p"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>